@font-face {
  font-family: 'icomoon';
  src:  url('../iconfonts/icomoon.eot?p6zlx7');
  src:  url('../iconfonts/icomoon.eot?p6zlx7#iefix') format('embedded-opentype'),
    url('../iconfonts/icomoon.ttf?p6zlx7') format('truetype'),
    url('../iconfonts/icomoon.woff?p6zlx7') format('woff'),
    url('../iconfonts/icomoon.svg?p6zlx7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
  color: #ffa000;
}
.icon-arrow:before {
  content: "\e904";
  color: #fff;
}
.icon-arrows-right:before {
  content: "\e905";
  color: #fff;
}
.icon-linkedin:before {
  content: "\e906";
}
