.title-2, .title-3 {
  color: $fontColorDark;
  text-transform: uppercase;
}

.title-2 {
  font-family: "Muli-Bold";
  font-size: 35px;
  line-height: 35px;
}

.title-3 {
  font-family: "Muli-Regular";
  font-size: 20px;
  line-height: 20px;
}